html {
  background: rgb(0,0,0);
  background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 31%, rgba(66,69,175,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 31%, rgba(66,69,175,1) 100%);
  background: linear-gradient(90deg, rgba(0,0,0,1) 31%, rgba(66,69,175,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#4245af",GradientType=1); 
    color: white;
}

#view {
    height: 50px;
    width: 278px;
    margin: auto;
    margin-top: 10%;
    font-size: 1.5em;
    text-align: right;
    border: 1px solid white;
    color: white;
}

#calculator {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    margin: auto;
    margin-bottom: 50px;
    width: 280px;
}

button {
    margin: 0 0 0 0;
    height: 70px;
    width: 70px;
    font-size: 20px;
    background-color: black;
    border: 1px solid white;
    color: white;
}

button::-moz-focus-inner {
    border: 0;
  }  

button:hover {
    background-color: purple;
}

@keyframes linkRoll {
    0%  {left: -25%;}
    100% {left: 0%;}
  }
  
  @keyframes opacList {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    animation-name: opacList;
    animation-duration: 2.6s;
  }
  
  ul li {
    padding: 1em;
    font-size: 1.5em;
    margin-right: 50px;
    position: relative;
    animation-name: linkRoll;
    animation-duration: 2.6s;
    animation-timing-function: ease-in-out;
    border: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
  }
  
  @media only screen and (max-width: 650px) {
    ul {
      list-style-type: none;
      display: table;
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }
  
    ul li {
      margin-bottom: 1em;
      padding: 1em;
      font-size: 1.2em;
      margin-right: 0px;
    }
  }

  a {
    font-family: 'Montserrat', sans-serif;
  }

  a:visited {
    color: #f442e2;
    text-decoration: none;
  }
  
  a:link {
    color: #f442e2;
    text-decoration: none;
  }
  
  a:hover {
    color: #42e8f4;
    text-decoration: none;
  }
  
  a:hover {
    color: #42e8f4;
    text-decoration: none;
  }
